<?xml version="1.0"?>

<!-- 
  The xacro file for the UR5 holding the Keyence LJ7200 laser scanner as End Effector

  24 June, 2022. (Friday)
  Want to try moving the UR5 by hand and tidy up the scene.
  This means removing 
  1. Kinect 2 camera - which is not used for a long time and removed physically from
  the scene.
  2. Keyence laser scanner - this should be in another urdf with it.
  
  Then put the Realsense D435i in the right place.

-->

<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="roboweld" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- ur5 -->
  
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/ur5_default.yaml"/>
  <xacro:ur5_robot prefix="" joint_limited="true"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${xacro.load_yaml('$(arg kinematics_config)')}"
  />

  <link name="world" />

<!-- There are:-
     1. The World, everything lives in it.
     2. The Welding table, our robot arm is installed on it.

Removed     3. The Kinect V2, RGBD camera provides the point clouds that we need.

     4. The UR5, our robot arm, with the Straight Fronius Torch as its end effector.

Removed     5. The Keyence LJ7200 Laser Scanner attached to the torch holder.

Relocated
     6. The RealSense D435i attached to the torch holder.
-->

  <!-- defining tool -->
  <!-- Welding torch holder with the Straight Torch -->

  <!-- Actually this is the Fronius Straight Torch held by the holder, the Realsense camera
       Orientation has been changed to face the tip of the torch

      24 June, 2022. (Friday)
      This is being changed back to face directly to workpiece

  -->
  <link name="tool0">  
      <visual>
        <geometry>
          <mesh filename="package://roboweld_support/meshes/collision/STorchRCamKScan.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
          <origin xyz="0 0 0" rpy="0 ${pi} 0"/>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://roboweld_support/meshes/collision/STorchRCamKScan.stl"
                scale="0.001 0.001 0.001"/>
        </geometry>
          <origin xyz="0 0 0" rpy="0 ${pi} 0"/>
      </collision>
  </link>

  <!-- The pose of the Welding Torch (Tool0) with respect to Wrist-3-link is defined here. -->
  <joint name="wrist_3_link-tool0_fixed_joint" type="fixed">
    <origin xyz="0 -0.105 0.360" rpy="0 0 ${pi}"/>
    <parent link="wrist_3_link"/>
    <child link="tool0"/>
  </joint>

  <!-- This is the link for the tail cable of the torch -->
  <link name="tail" >
    <visual>
       <geometry>
         <cylinder length="0.1" radius="0.0125"/>
       </geometry>
       <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
    <collision>
       <geometry>
         <cylinder length="0.1" radius="0.0125"/>
       </geometry>
       <origin rpy="0 0 0" xyz="0 0 0"/>
    </collision>
  </link>

  <joint name="ee_link-tail_fixed_joint" type="fixed">
     <origin xyz="-0.08 0 0.115" rpy="0 ${pi/2.0} 0"/>
     <parent link="ee_link"/>
     <child link="tail"/>
  </joint>

  <!-- Import the realsense D435i description -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:sensor_d435 parent="ee_link" use_nominal_extrinsics="true" name="d435i">
<!--    
    <origin xyz="0.16026 0 0.01829" rpy="${pi} ${-pi} ${pi}"/>
-->
    <origin xyz="0.18515 0 0.0225" rpy="${pi} ${-pi} ${pi}"/>
<!--
    <origin xyz="0.19185 0 0.0225" rpy="${pi} ${-pi} ${pi}"/>
    <origin xyz="0.19738 0 0.00436" rpy="${pi} -2.827433388230814 ${pi}"/>
    <origin xyz="0.20038 0.08064 0.105" rpy="${-pi/2} ${pi} 2.827433388230814"/>
-->
  </xacro:sensor_d435>

  <link name="table">
    <visual>
      <geometry>
        <box size="1.5 1.0 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 -0.05"/>
      <material name="Steel">
        <color rgba="1.0 0.831 0.486 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.5 1.0 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 0 -0.05"/>
    </collision>
  </link>

  <joint name="table_to_robot" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="-0.6 0.0 0.015" rpy="0.0 0.0 ${pi}"/>
  </joint>

  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0.6 0.0 0.0" rpy="0 0 0"/>
  </joint>

</robot>
