<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="weldingtable" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_description)/config/my_robot_calibration.yaml"/>
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
  />

  <!-- end-effector, that is a torch -->
  <xacro:include filename="torch.xacro" />
  <xacro:torch prefix="" connected_to="tool0"/>

  <!-- The Kinect V2 RGBD camera, provides point clouds -->
  <xacro:include filename="$(find kinect2_description)/urdf/kinect2_urdf.xacro" />
  <xacro:kinect2 prefix=""/>

  <link name="world" />

  <!-- The table with the robot on it -->
  <link name="table">
    <visual>
      <geometry>
        <box size="1.0 1.5 0.1"/>
      </geometry>
      <material name="Steel">
        <color rgba="1.0 0.831 0.486 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 1.5 0.1"/>
      </geometry>
    </collision>
  </link>

  <!-- The world to table joint -->
  <joint name="world_to_table" type="fixed">
    <parent link="world"/>
    <child link="table"/>
    <origin xyz="0.35 0.0 -0.05" rpy="0 0 0"/>
  </joint>

  <!-- The table to robot joint -->
  <joint name="table_to_robot" type="fixed">
    <parent link="table"/>
    <child link="base_link"/>
    <origin xyz="-0.35 0.0 0.05" rpy="0.0 0.0 -1.5708"/>
  </joint>

  <!-- Optical frame -->
  <link name="kinect2_rgb_optical_frame"/>
  <joint name="rgb_optical_frame" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="kinect2_link"/> <!-- This link is defined in the kinect2_urdf.xacro file. -->
    <child link="kinect2_rgb_optical_frame"/>
  </joint>

<!-- World to camera joint. We do not describe anything between the world and the camera. -->
  <joint name="world_to_camera" type="fixed">
    <parent link="world"/>
    <child link="kinect2_link"/>
      <origin xyz="0.37 -0.0 1.18" rpy="0 3.14159 1.5707"/>
  </joint>
</robot>
